/*
    Document   : fonts
    Created on : 08.06.2013, 13:00:39
    Author     : Psyphant
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: font-url('Roboto-Regular.eot');
  src: font-url('Roboto-Regular.eot') format('embedded-opentype'),
       font-url('Roboto-Regular.woff') format('woff'),
       font-url('Roboto-Regular.ttf') format('truetype'),
       font-url('Roboto-Regular.svg#RobotoRegular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: font-url('Roboto-Light.eot');
  src: font-url('Roboto-Light.eot') format('embedded-opentype'),
       font-url('Roboto-Light.woff') format('woff'),
       font-url('Roboto-Light.ttf') format('truetype'),
       font-url('Roboto-Light.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: font-url('Roboto-Medium.eot');
  src: font-url('Roboto-Medium.eot') format('embedded-opentype'),
       font-url('Roboto-Medium.woff') format('woff'),
       font-url('Roboto-Medium.ttf') format('truetype'),
       font-url('Roboto-Medium.svg#RobotoMedium') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: font-url('Roboto-Bold.eot');
  src: font-url('Roboto-Bold.eot') format('embedded-opentype'),
       font-url('Roboto-Bold.woff') format('woff'),
       font-url('Roboto-Bold.ttf') format('truetype'),
       font-url('Roboto-Bold.svg#RobotoBold') format('svg');
}

@font-face {
  font-family: 'Flaticon';
  font-weight: normal;
  font-style: normal;
  src: font-url('flaticon.eot?37909921');
  src: font-url('flaticon.eot?37909921#iefix') format('embedded-opentype'),
       font-url('flaticon.woff?37909921') format('woff'),
       font-url('flaticon.ttf?37909921') format('truetype'),
       font-url('flaticon.svg?37909921#flaticon') format('svg');
}

.icon {
  font-family: "Flaticon";
  font-size: 20px;
  font-style: normal;

  &.search:before {
  	content: "\e000";
  }
  &.add:before {
  	content: "\e001";
  }
  &.deal:before {
    content: "\e002";
  }
  &.alarm:before {
  	content: "\e003";
  }
  &.attachment:before {
  	content: "\e004";
  }
  &.chat:before {
  	content: "\e005";
  }
  &.settings:before {
  	content: "\e006";
  }
  &.demand:before {
    content: "\e007";
  }
  &.supply:before {
    content: "\e008";
  }
  &.map:before {
  	content: "\e009";
  }
  &.list:before {
    content: "\e00a";
  }
  &.users:before {
  	content: "\e00b";
  }
  &.pin:before {
    content: "\e00c";
  }
  &.notify:before {
  	content: "\e00d";
  }
  &.tag:before {
  	content: "\e00e";
  }
  &.pulse:before {
  	content: "\e00f";
  }
  &.message:before {
  	content: "\e010";
  }
  &.filter:before {
    content: "\e011";
  }
}
